extends layout

block content

  form(method='POST' action='/home/connection/data?_method=GET')
    div.form-group
      h1.user-form-title.text-secondary Connection
      label(for='identifiant' style="color:#007bff") Pseudo:
      input#name.form-control(type='text', placeholder='Your identify' name='identifiant' value=(undefined===user ? '' : user.identifiant)).border.border-primary
      label(for='password' style="color:#28a745") Password:
      input#pasword.form-control(type='password', placeholder='Your password' name='password' value=(undefined===user ? '' : user.password)).border.border-success
      div.text-centerdiv.text-center#login-container
        button.btn.btn-primary(type='submit') Submit
  div.errors
    em(style="margin:auto")=erros
    if errors
      ul
        for error in errors
          li= error.msg