extends layout

block content
  div.feed-container
      each post in posts
        if(post.PostAuthorStatus != 'Banned')
          div.post-card.border-secondary.border
            div.card-header
              img(src = ((undefined == post.UserPicture) ? '/images/default_user_image.jpg' : '/'+post.UserPicture )).image-user-feed.rounded-circle
              div.card-title
                h5='@'+post.PostAuthorId
              if(session)
                if(session.Status == 'Admin')
                  form(method='POST' action='/home/user/'+post.PostAuthorId+'/post/'+post._id+'/delete?_method=GET' encode="X-www-form-urlencoded"  style="display:inline-block")
                    div.form-group
                        input.form-control(type='hidden',name='delete', required='true' )
                        button.btn.btn-dark(type='submit') Delete
            div
              img(src= ((undefined == post.PostPicture) ? '' : '/'+ post.PostPicture)).image-post-feed
            div.card-body
              //p.card-text.postdescriptionfeed aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
              p.card-text= post.PostDescription  
              p= 'Publié le ' + post.PostDate
              a(href='/home/user/'+post.PostAuthorId+'/post/'+post._id).btn.btn-primary Voir le post en détail
                
