doctype html
html
  head
    title= title
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    link(rel='stylesheet', href='/stylesheets/style.css')
    if(session)
      link(rel='stylesheet', href=session.Style)
  body
    div.home-container
      div.title-container
        div.intermediate-container
          span.title(style="color:#007bff") S
          span.title(style="color:#28a745") p
          span.title(style="color:#dc3545") a
          span.title(style="color:#ffc107") c
          span.title(style="color:#dc3545") e
          span.title(style="color:#007bff") C
          span.title(style="color:#28a745") h
          span.title(style="color:#dc3545") a
          span.title(style="color:#ffc107") t
      div.container.box-button
          a(href='/home/feed').col.buttonhome.btn-primary.btn#feed 
            span Le Feed 
          a(href='/home/search').col.buttonhome.btn-success.btn
            span#search Découvrir du nouveau contenu
          a(href='/home/connection').col.buttonhome.btn-danger.btn#login 
            span Se connecter 
          a(href='/home/user/create').col.buttonhome.btn-warning.btn#create 
            span Créer un compte
      h1.homepage_description Bienvenu sur SpaceChat, passez un agréable moment. 
          